Package: com.daveapps.labelchanger
Name: LabelChanger
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Dave van Wijk
Author: Dave van Wijk
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)