Package: com.daveapps.labelchanger
Name: LabelChanger
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Dave van Wijk
Author: Dave van Wijk
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 0.0.1-52+debug
Installed-Size: 236
