Package: com.daveapps.labelchanger
Name: LabelChanger
Architecture: iphoneos-arm
Description: Customise ur icon labels in every single way!
Maintainer: Dave van Wijk
Author: Dave van Wijk
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.5-26+debug
Installed-Size: 384
