<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.daveapps.labelchanger</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#f442aa</string>
				<string>#f442aa</string>
			</array>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide those f#*$ing labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daveapps.labelchanger</string>
			<key>label</key>
			<string>Hide Labels</string>
			<key>key</key>
			<string>hideIconsPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daveapps.labelchanger</string>
			<key>label</key>
			<string>Make labels bold</string>
			<key>key</key>
			<string>boldLabelsPref</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Support me</string>
			<key>url</key>
			<string>https://patreon.com/DaveApps</string>
			</dict>
	</array>
	<key>title</key>
	<string>LabelChanger</string>
</dict>
</plist>
